:root {
  --gold-color: #c6974a;
  --black-color: #0d0d0d;
  --white-color: #fff;
  --light-color: #aaa;
  --bg-color: #222;
  --black-bg: rgba(17, 17, 17, 0.7);
  --border: 0.2rem solid #c6974a;
}

.services {
  margin-top: 20rem;
}

.property-manage-image img {
  width: 40rem;
}

.property-list {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  /* color: var(--white-color); */
}

.list-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-details p {
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--light-color);
}

.list-details i {
  font-size: 2rem;
  color: var(--gold-color);
}

.property-manage-image {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 15%;
  top: 42%;
  position: absolute;
}

.social-heading h1 {
  font-size: 3rem;
  color: var(--gold-color);
  animation: service-move 2s linear infinite;
}

@keyframes service-move {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5rem);
  }
}

.social-heading p {
  font-size: 2rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.property-list a {
  margin-top: 2rem;
}

.property-list .Btn::before {
  content: "contact us";
}

/* ------------------------------------------------------property--------------------------------- */

.card {
  overflow: visible;
  width: 211px;
  height: 285px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.back-content svg {
  height: 130px;
}
.back-content strong {
  font-size: 1.5rem;
  color: var(--gold-color);
}
.front-content a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 2rem;
  width: 200%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.marketing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 10rem;
}
